@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #002333;
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DEEFE7;
}

.loader {
    border: 16px solid #DEEFE7;
    border-top: 16px solid #002333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
